<p id="notice"><%= notice %></p>

<h1>Lugares</h1>
  
  <% @pins.each do |pin| %>
    <div class="col-md-12">  
      <div class="thumbnail">
        <%= image_tag(pin.photo, :style => 'width:300px') %>
          <%= pin.description %>
          <br>
          <%= link_to 'Show', pin %>
          <%= link_to 'Edit', edit_pin_path(pin) %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

<br>

<%= link_to 'New Pin', new_pin_path %>
</div>
